{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeEnRecipe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'cooking_website/css/base.css' %}">
    {% block extra_style %}{% endblock %}
</head>
<body>
    <header class="header">
        <span class="header__title">
            BeEnRecipe
        </span>
        {% block search %}{% endblock %}
    </header>
    <main class="main">
        {% block main %}{% endblock %}
    </main>
    {% block footer %}
    <footer class="footer">
        <div class="footer__item">
            <a href="{% url 'cooking_website:search' %}" class="footer__item-link">
                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            </a>
        </div>
        <div class="footer__item">
            <a href="{% url 'cooking_website:user' user.pk %}" class="footer__item-link">
                <i class="fa-solid fa-user fa-lg"></i>
            </a>
        </div>
        <div class="footer__item">
            <a href="{% url 'cooking_website:notification' %}" class="footer__item-link">
                <i class="fa-solid fa-bell fa-lg"></i>
            </a>
        </div>
    </footer>
    {% endblock %}
</body>
</html>