{% extends 'cooking_website/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'cooking_website/css/search.css' %}">
{% endblock %}

{% block header %}
<a href="{% url 'cooking_website:recipe_create' %}" class="recipe-create">
    <i class="fa-solid fa-pen-to-square"></i>
    <p class="recipe-create-text">
        レシピを書く
    </p>
</a>
<form action="" method="get" class="search">
    <span class="search-item-icon">
        <i class="fa-solid fa-magnifying-glass"></i>
    </span>
    <div class="search-body">
        {{ form.keyword }}
    </div>
</form>
{% endblock %}

{% block main %}
<div class="main-section">
    <h2 class="main-section-title">人気のレシピ</h2>
    <div class="main-section-body">
        {% for recipe in popular_recipes %}
        <a href="{% url 'cooking_website:recipe' recipe.pk %}" class="main-section-item">
            <div class="main-section-item-head">
                {% if recipe.image %}
                <img src="{% get_media_prefix %}{{ recipe.image }}" alt="" class="main-section-item-image">
                {% else %}
                <i class="fa-solid fa-image fa-10x alternative-image"></i>
                {% endif %}
                <div class="main-section-item-right">
                    <h3 class="main-section-item-title">
                        {{ recipe.title }}
                    </h3>
                    <div class="main-section-item-user">
                        <div class="main-section-item-user-image-wrap">
                            {% if recipe.written_by__image %}
                            <img src="{% get_media_prefix %}{{ recipe.written_by__image }}" alt="" class="main-section-item-user-image">
                            {% else %}
                            <i class="fa-solid fa-circle-user fa-lg alternative-image"></i>
                            {% endif %}    
                        </div>
                        <p class="main-section-item-user-text">
                            {{ recipe.written_by__username }}
                        </p>
                    </div>        
                </div>
            </div>
            <div class="main-section-item-foot">
                <p class="main-section-item-text">                
                    {{ recipe.description }}
                </p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<div class="main-section">
    <h2 class="main-section-title">新着レシピ</h2>
    <div class="main-section-body">
        {% for recipe in new_recipes %}
        <a href="{% url 'cooking_website:recipe' recipe.pk %}" class="main-section-item">
            <div class="main-section-item-head">
                {% if recipe.image %}
                <img src="{% get_media_prefix %}{{ recipe.image }}" alt="" class="main-section-item-image">
                {% else %}
                <i class="fa-solid fa-image fa-10x alternative-image"></i>
                {% endif %}
                <div class="main-section-item-right">
                    <h3 class="main-section-item-title">
                        {{ recipe.title }}
                    </h3>
                    <div class="main-section-item-user">
                        <div class="main-section-item-user-image-wrap">
                            {% if recipe.written_by__image %}
                            <img src="{% get_media_prefix %}{{ recipe.written_by__image }}" alt="" class="main-section-item-user-image">
                            {% else %}
                            <i class="fa-solid fa-circle-user fa-lg alternative-image"></i>
                            {% endif %}    
                        </div>
                        <p class="main-section-item-user-text">
                            {{ recipe.written_by__username }}
                        </p>
                    </div>        
                </div>
            </div>
            <div class="main-section-item-foot">
                <p class="main-section-item-text">                
                    {{ recipe.description }}
                </p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
