@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#form input {
    margin-top: 4px;
    padding: 6px;
    width: 200px;
    font-size: 16px;
}

#form textarea {
    margin-top: 4px;
    padding: 6px;
    width: 300px;
    font-size: 16px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: sandybrown;
}

.header-title {
    color: #fff;
    font-size: 20px;
}

.main {
    margin-top: 60px;
    margin-bottom: 100px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 60px;
    background-color: whitesmoke;
}

.footer-item {
    flex: 1;
}

.footer-item-link {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;
    z-index: 999;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    font-size: 16px;
    color: #000;
    background-color: peachpuff;
    text-decoration: none;
    border: none;
    outline: none;
    border-right: 1.5px solid sandybrown;
    border-bottom: 1.5px solid sandybrown;
}

.button:hover {
    cursor: pointer;
    color: #fff;
    background-color: sandybrown;
}

.alternative-image {
    color: lightgray;
}
