@charset "UTF-8";

.main-body {
    margin: 0 auto;
    display: flex;
    width: 200px;
    flex-direction: column;
}

.main-item-link {
    margin-top: 40px;
    font-size: 14px;
    text-align: right;
}