@charset "UTF-8";

/* user_following.css上書き */
.main-body {
    padding: 16px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* user_following.css上書き終了 */

.main-item-text {
    display: inline-block;
    margin-bottom: 16px;
    padding: 12px;
    padding-bottom: 16px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid sandybrown;
    color: #000;
    text-decoration: none;
}