@charset "UTF-8";

/* base.css上書き */
.button {
    width: 80px;
    font-size: 14px;
}

.main {
    display: flex;
    justify-content: center;
}
/* base.css上書き終了 */

.main-body {
    padding: 16px;
    overflow-y: auto;
}

.main-body-head {
    margin-bottom: 16px;
    display: flex;
}

.main-image-wrap {
    margin-right: 24px;
}

.main-image {
    width: 25vw;
    height: 400px;
    object-fit: cover;
    font-size: 25vw;
}

.main-info-wrap {
    padding: 24px;
}

.main-title {
    font-size: 36px;
    line-break: anywhere;
}

.main-info {
    margin: 8px 0;
    padding-top: 8px;
    display: flex;
}

.main-like {
    margin-right: 16px;
    display: flex;
}

.main-like-wrap {
    width: 80px;
    height: 60px;
    text-align: center;
}

.main-like-button{
    width: 80px;
    height: 60px;
    background-color: #fff;
    border: none;
    outline: none;
}

.main-like-button:hover {
    cursor: pointer;
}

.main-like-button-red {
    color: red;
}

.main-like-count {
    margin-top: 8px;
    font-size: 16px;
}

.main-writer-wrap {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.main-writer-image-wrap {
    margin-right: 8px;
}

.main-writer-image {
    width: 45px;
    height: 45px;
    object-fit: cover;
    font-size: 45px;
    border-radius: 50%;
}

.main-writer-username {
    overflow: hidden;
    white-space: nowrap;
    width: 120px;
    text-overflow: ellipsis;
    font-size: 16px;
}

.main-created-at {
    padding: 8px;
    font-size: 16px;
}

.main-body-foot {
    padding: 0 16px;
}

.main-description {
    font-size: 16px;
}